input {
    width: 100%;
    padding: 5px;
}

.form-title {
    text-align: right;
    color: white;
}

button {
    width: 100%;
    padding: 10px;
}

.one-line {
    display: flex;
}

.regime-action-row {
    margin-bottom: 15px;

    ion-col {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type="radio"] {
        width: auto;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    label {
        color: white;
        font-weight: bold;
    }
}

@media (max-width: 600px) {
    .regime-action-row ion-col {
        align-items: flex-start;
        justify-content: flex-start;
    }
}