<div class="end-form">
    <p>Vous serez automatiquement déconnecté dans {{stopwatch}} secondes</p>

    <ion-grid>
        <ion-row>
            <ion-col>
                <button class="coli-btn coli-btn-w-icon" (click)="toLogin()">
                    <ion-icon name="power"></ion-icon>
                    <span>Se déconnecter</span>
                </button>
            </ion-col>

            <ion-col>
                <button class="coli-btn coli-btn-w-icon" (click)="toRegimeSearch()">
                    <ion-icon name="scan"></ion-icon>
                    <span>Sélectionner un chantier</span>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>