<module-header [title]="title"></module-header>

<ion-content class="ion-padding">
    <div class="form-container scrollable">
        <form #regimeForm="ngForm" (ngSubmit)="onSubmit(regimeForm)">
            <h2>Création d'un nouveau régime</h2>
            <div class="form-group">
                <label [focusInput]="idInput">Régime / A2X</label>
                <ion-input class="default-input-style" id="id" name="id" [ngModel]="regime._id"
                    (ngModelChange)="regime._id = $event.toUpperCase()" #idInput required
                    [disabled]="action === 'edit' ? true : false"></ion-input>
            </div>
            <div class="form-group">
                <label [focusInput]="requestNumberInput">Demande</label>
                <ion-input class="default-input-style" id="requestNumber" name="requestNumber"
                    [ngModel]="regime.requestNumber" (ngModelChange)="regime.requestNumber = $event.toUpperCase()"
                    #requestNumberInput></ion-input>
            </div>
            <div class="form-group">
                <label [focusInput]="otInput">OT</label>
                <ion-input class="default-input-style" id="ot" name="ot" [ngModel]="regime.ot"
                    (ngModelChange)="regime.ot = $event.toUpperCase()" #otInput></ion-input>
            </div>
            <div class="form-group">
                <label [focusInput]="rfInput">RF</label>
                <ion-input class="default-input-style" id="rf" name="rf" [(ngModel)]="regime.rf" #rfInput></ion-input>
            </div>
            <div class="form-group">
                <label [focusInput]="labelInput">libellé d'attestation</label>
                <ion-input class="default-input-style" id="label" name="label" [(ngModel)]="regime.label" #labelInput
                    required></ion-input>
            </div>
            <div class="form-group">
                <button class="coli-btn coli-btn-w-icon">
                    <ion-icon name="create"></ion-icon>
                    <span>Enregistrer</span>
                </button>
                <button class="coli-btn coli-btn-w-icon" [routerLink]="'../'">
                    <ion-icon name="arrow-back-circle"></ion-icon>
                    <span>Annuler</span>
                </button>
            </div>
        </form>
    </div>
</ion-content>