<module-header [title]="title" [hideRightPart]="true"></module-header>


<ion-content class="ion-padding">

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-sm="5">
                    <label [focusInput]="badgeNumberUserInput">N° de badge</label>
                </ion-col>
                <ion-col size="12" size-sm="7">
                    <ion-input class="default-input-style" [(ngModel)]="user.badgeNumber" required pattern="^[0-9]*$"
                        name="badgeNumberUser" id="badgeNumberUser" #badgeNumberUser="ngModel" #badgeNumberUserInput
                        (dblclick)="debugFillAdminform()"></ion-input>
                    <div *ngIf="badgeNumberUser.invalid && badgeNumberUser.touched">
                        <div class="error-msg" *ngIf="badgeNumberUser.errors?.['required']">Ce champ est requis
                        </div>
                        <div class="error-msg" *ngIf="badgeNumberUser.errors?.['pattern']">Seuls les chiffres sont
                            autorisés
                        </div>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" size-sm="5">
                    <label [focusInput]="nniUserInput">NNI</label>
                </ion-col>
                <ion-col size="12" size-sm="7">
                    <ion-input class="default-input-style" [(ngModel)]="user.nni" required pattern="^[a-zA-Z0-9]{8}$"
                        name="NniUser" id="NniUser" #nniUser="ngModel" #nniUserInput> </ion-input>
                    <div *ngIf="nniUser.invalid && nniUser.touched">
                        <div class="error-msg" *ngIf="nniUser.errors?.['required']">Ce champ est requis</div>
                        <div class="error-msg" *ngIf="nniUser.errors?.['pattern']">Doit être exactement 8 caractères
                            alphanumériques
                        </div>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" size-sm="5">
                    <label [focusInput]="passwordUserInput">Mot de passe Sésame</label>
                </ion-col>
                <ion-col size="12" size-sm="7">
                    <ion-input class="default-input-style" type="password" [(ngModel)]="user.password"
                        name="passwordUser" id="passwordUser" required #passwordUser="ngModel"
                        #passwordUserInput></ion-input>
                    <div *ngIf="passwordUser.invalid && passwordUser.touched">
                        <div class="error-msg" *ngIf="passwordUser.errors?.['required']">Ce champ est requis</div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="form-group-btn">
            <button class="coli-btn coli-btn-w-icon" type="submit" [disabled]="loginForm.invalid">
                <ion-icon name="person"></ion-icon>
                <span>Se connecter</span>
            </button>
        </div>

    </form>
</ion-content>