<div class="orientation-message">
    <p>Pour voir toutes les colonnes, veuillez tourner votre appareil en mode paysage</p>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th class="action-col" *ngIf="isEditable">Action</th>
                <th class="regime-col">Régime/A2X</th>
                <th class="demande-col">Demande</th>
                <th class="OT-col">OT</th>
                <th class="RF-col">RF</th>
                <th class="label-col label-col-small">libellé de l'attestation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let regime of regimeList" (click)="actionEvent(regime)">
                <td class="action-col-content" *ngIf="isEditable">
                    <ion-icon class="icon" name="create" size="large" (click)="editEvent(regime)"></ion-icon>
                    <ion-icon class="icon" name="trash" size="large" (click)="deleteEvent(regime)"></ion-icon>
                </td>
                <td class="regime-col">{{regime._id}}</td>
                <td class="demande-col">{{regime.requestNumber}}</td>
                <td class="OT-col">{{regime.ot}}</td>
                <td class="RF-col">{{regime.rf}}</td>
                <td class="label-col label-col-small">{{regime.label}}</td>
            </tr>
        </tbody>
    </table>
</div>