div {
    background-color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1em;
}

p {
    font-weight: bold;
}

span {
    color: rgb(126, 205, 231)
}