<ion-content class="ion-padding">

    <div class="resources">
        <div class="title">
            <p class="title">Votre chantier est <br> déclaré QUITTÉ</p>
            <img class="icon" src="../../../../assets/img/check.png" alt="check.png">
        </div>

        <ion-grid>
            <ion-row>
                <ion-col size="10" size-sm="5.5">
                    <p class="align-right">Matériel</p>
                </ion-col>
                <ion-col size="10" size-sm="5">
                    <p *ngIf="equipment" class="green">DISPONIBLE</p>
                    <p *ngIf="!equipment" class="red">NON DISPONIBLE</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="10" size-sm="5.5">
                    <p class="align-right">Activité</p>
                </ion-col>
                <ion-col size="10" size-sm="5">
                    <p *ngIf="activity" class="green">TERMINÉE</p>
                    <p *ngIf="!activity" class="orange">NON TERMINÉE</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <module-end-form></module-end-form>
</ion-content>