<module-header [title]="title"></module-header>

<ion-content class="ion-padding">
    <div class="container">
        <form class="regime-form">
            <ion-grid>
                <ion-row>
                    <ion-col size="12" size-sm="4">
                        <input type="radio" name="regime-action" id="remove-action" [value]="0" value="0"
                            [(ngModel)]="regimeAction">
                        <label for="remove-action">Retirer une attestation</label>
                    </ion-col>
                    <ion-col size="12" size-sm="4">
                        <input type="radio" name="regime-action" id="withdraw-action" [value]="1" value="1"
                            [(ngModel)]="regimeAction">
                        <label for="withdraw-action">Rendre une attestation</label>
                    </ion-col>
                    <ion-col size="12" size-sm="4">
                        <input type="radio" name="regime-action" id="print-action" [value]="2" value="2"
                            [(ngModel)]="regimeAction">
                        <label for="print-action">Imprimer un duplicata d'attestation</label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>

        <!-- regimeList gets a filtered list if the form action is WITHDRAW_ACTION -->
        <module-regime-table [regimeList]="regimeAction === 1 ? regimeFilteredList : regimeList" [isEditable]="false"
            (onAction)="toAction($event)"></module-regime-table>

        <div class="button-zone">
            <button class="coli-btn coli-btn-w-icon" (click)="moveBack()">
                <ion-icon name="arrow-back-circle"></ion-icon>
                <span>Retour</span>
            </button>
        </div>
    </div>
</ion-content>